@font-face {
    font-family: "Abril Fatface";
    src: url("AbrilFatface-Regular.woff2") format("woff2"),
      url("AbrilFatface-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("Lato-Black.woff2") format("woff2"),
      url("Lato-Black.woff") format("woff") url("Lato-Bold.woff2") format("woff2"),
      url("Lato-Bold.woff") format("woff") url("Lato-Light.woff2") format("woff2"),
      url("Lato-Light.woff") format("woff") url("Lato-Regular.woff2")
        format("woff2"),
      url("Lato-Regular.woff") format("woff") url("Lato-Hairline.woff2")
        format("woff2"),
      url("Lato-Hairline.woff") format("woff");
  
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }